.field{
    -fx-background-color: rgba(198, 248, 255, 0.29);
    -fx-font-size: 9pt;
    -fx-padding: -3;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-pref-height: 17;
    -fx-border-width: 0;
    -fx-border-color: black;
}
.smallField{
    -fx-pref-height: 16;
}
.verySmallField{
    -fx-font-size: 7pt;
    -fx-padding: -2;
    -fx-pref-height: 13;
}
.back{
    -fx-background-image: url('back_670_с2.jpg');
}
