.field{
    -fx-background-color: rgba(198, 248, 255, 0.29);
    -fx-font-size: 9pt;
    -fx-padding: -3;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-pref-height: 17;
    -fx-border-width: 0;
    -fx-border-color: black;
}
.smallField{
    -fx-pref-height: 16;
}
.verySmallField{
    -fx-font-size: 7pt;
    -fx-padding: -2;
    -fx-pref-height: 13;
}
.back{
    -fx-background-image: url('back_670_c2.jpg');
}
.selection{
    -fx-background-color: rgba(0, 250, 0, 0.2);
    -fx-effect: dropshadow(gaussian , #000, 8, 0.2, 0, 0);
}
.selectBtn{
    -fx-background-color: rgba(0, 250, 0, 0.05);
}
.selectBtn:hover{
    -fx-background-color: rgba(0, 250, 0, 0.2);
}
.selectBtnActive{
    -fx-background-color: rgba(0, 250, 0, 0.2);
    -fx-effect: dropshadow(gaussian , #000, 8, 0.3, 0, 0);
}
.selectRow{
    -fx-effect: dropshadow(gaussian , #000, 8, 0.3, 0, 0);
}
